{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Edit Task
{% endblock title %}

{% block content %}

    <br><br>

    <div class="row">
        <div class="col">
            <div class="card bg-danger text-white">
                <h2 class="card-title">Edit Task - {{ task.title }}</h2>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <div class="d-grid">
                            <input class='btn btn-primary' type="submit" value="Update">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}