{% extends 'base/base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}

    <div>

        <br><br>

        <h1 class='text-center text-danger display-3'>Todo App</h1>

        <br>

        <p class='display-6'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, blanditiis aspernatur nemo deserunt adipisci a eos accusantium sit esse doloribus atque quo rerum et. Dicta optio distinctio suscipit porro culpa!
        Numquam aliquam minima alias dignissimos architecto modi quidem id, rem soluta hic fugit pariatur nemo ex nisi deleniti. Dicta tempore incidunt ad dolorem earum consequuntur pariatur illo. Ea, ipsa debitis?
        Explicabo nulla dignissimos repudiandae iusto debitis sapiente possimus at dolorem! Sequi asperiores inventore illo numquam eveniet corporis, quos laboriosam blanditiis. Voluptatem explicabo animi vero magni consequatur nemo. Quas, asperiores cum?
        Autem debitis doloribus voluptate nemo id pariatur minima dicta eveniet beatae placeat, distinctio iste unde quam temporibus fugiat deleniti laborum aut eligendi quos corrupti sequi? Magnam earum quo distinctio maiores.
        Repudiandae at numquam nulla animi in, distinctio, modi cumque architecto praesentium aperiam natus sit adipisci est maiores aliquid et incidunt sunt ipsam voluptas. Sed culpa minus libero nesciunt voluptates perspiciatis.
        Enim eum mollitia provident iusto in, aliquam odit vero non neque fuga laboriosam dolores modi cumque temporibus. Animi suscipit alias maiores quidem nisi magnam. Modi perspiciatis maxime reiciendis harum eius.
        Iusto alias aliquam quos architecto similique modi earum. Reprehenderit delectus earum deleniti officiis soluta, id repudiandae eligendi ut repellat architecto amet, esse ab quos aliquam quaerat illum voluptas at unde.
        A facilis excepturi qui dolorem vel animi aliquam debitis recusandae. Culpa suscipit officia accusamus recusandae eligendi ea molestias illum. Consectetur rerum nesciunt, alias molestias reprehenderit beatae! Culpa perferendis illo veritatis.
        Nulla dolor in, optio sint aperiam vitae ullam incidunt repudiandae ab doloribus dolore qui cupiditate at sequi! Nulla reprehenderit in nesciunt ad cum voluptatem minima fuga illum, quas esse alias?
        Animi, vitae? Officiis voluptate nam aut. Maiores dolores accusantium quod culpa laboriosam commodi cupiditate fugit dolorum excepturi, possimus consequatur asperiores ex expedita quidem aut ut vero nihil aliquid! Consectetur, perferendis.
        Ea similique suscipit quod qui sunt facilis dolore alias delectus ipsam modi aliquid, velit sapiente eum repellendus natus dolor corporis? Maxime cum dolor veniam earum dolorem accusamus eligendi atque reiciendis.
        Ipsa accusantium incidunt et blanditiis? Recusandae tenetur nulla vero aliquam deleniti quae tempore vel quia nesciunt deserunt perferendis repudiandae illum nostrum reiciendis impedit natus libero fugiat similique amet, molestias itaque?
        Excepturi sapiente quasi eius tempora dolor quod sunt blanditiis repellendus, mollitia rem vitae eaque soluta. Quibusdam, perferendis dignissimos neque quidem obcaecati numquam saepe quas. Eos voluptatum ea voluptate asperiores id.
        Veniam nemo voluptate porro deserunt illo nam dolorum explicabo ut eaque non sint eos quaerat, praesentium ipsa autem enim assumenda dolor officiis sequi repellendus quos atque nesciunt! Minima, nulla laudantium.
        Optio neque odit in. Maxime sint corporis laborum, quisquam consectetur id dolore nisi neque vero rem amet rerum magnam quaerat quae architecto sunt harum commodi veniam ipsam molestiae ratione atque?</p>

    </div>

{% endblock content %}